<div class="row colorrow">
<div class="panel panel-default">
	<div class="panel-body">
	<div class="row">
	<div class="col-md-12">
		<div class="col-md-2">
				<div  class="thumbnail">
					<img src="http://imageshack.com/a/img923/5504/t6cyGr.jpg"/>
				</div>
		</div>
		<div class="col-md-10">
			<h3 class="title">Bạn đang nghĩ gì vậy?</h3>
		</div>
	</div>
</div>



<%= render 'form' %>
</div>
	</div>
</div>
