/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.colorcover{
	background-color:  #008ae6;
	color: #ffffff;
	border-radius: 10px;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
   color: #ffffff;
   font-family: 'Rancho', serif;
   font-size: 30px;

}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.title{
	margin-top: 30px;
}

.panel {
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 270px;
    width: 600px;
    background-color: #4da6ff;
    border: 1px solid transparent;
   
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.colorrow{
	background-color:  #c2c2a3;
}

.body_index{
	border-color: #ccccb3;
	border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	background-color: #cce0ff;
}

a {
    color: #008000;
    text-decoration: none;
}

.panel-body {
    padding: 15px;
     border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #0000b3;
}

.duongkengangduoi{
	border-bottom-width: : 5px;
	border-bottom-color: #ccccb3;
	border-style: solid;
}

.canletrai{
	margin-left: 30px;
}

.taobutton{
	width: 40px;
	height: 20px;
	border-radius: 5px;
	background-color: #ccccb3;
	margin-left: 20px;
}

.colorfullscreen{
	background-color: #e0e0d1;
	min-height: 400px;
}

.comment{
	margin-left: 30px;
}

#fontsize{
	font-size: 20px;
}